<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navBar fixed-top" id="navBars">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->



                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="inicioDiv container-flex">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video1">
            <source src="/assets/images/globalVideo.mp4" type="video/mp4">
        </video>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video2">
            <source src="/assets/images/globalVideo2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="fixed-action-btn" id="fixed1">
        <a class="btn btn-primary btn-floating btn-lg" href="#contacto"
            style="background-color: #4caf50; color: white;">
            <i class="fas fa-envelope"></i>
        </a>
        <ul class="list-unstyled">

        </ul>
    </div>
</div>

<div class="somosDiv bg-light">
    <div class="container">
        <h1 class="titleSomos centerText">¿Quiénes somos?</h1>
        <h3 class=" textSomos centerText">
            Global Moving es una empresa altamente calificada, con experiencia en la prestación de servicios de
            transporte
            terrestre, almacenaje, y distribución de productos con cobertura en toda la República Mexicana.
        </h3>
    </div>
</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center">
            <h2 class="fw-bold mb-9 text-center">Nuestros valores</h2>
            <div class="row gx-lg-5">
                <div class="col-lg-3 col-md-12 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block">
                                <i class="fa-solid fa-user-tie fa-2x text-white" aria-controls="#picker-editor"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Confianza</h3>
                            <p class="text-muted">Comprometidos a brindar nuestros servicios de manera funcional,
                                práctica y segura.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fas fa-chart-pie fa-2x text-white" aria-controls="#picker-editor"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Calidad</h3>
                            <p class="text-muted">El conjunto de características que componen
                                nuestros servicios son unifomes y están mejorando continuamente para el máximo
                                desempeño.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fa-solid fa-computer fa-2x text-white"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Tecnología</h3>
                            <p class="text-muted">Trabajamos con las mejores herramientas para entregar una propuesta
                                ágil y en beneficio de nuestros colaboradores.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fa-solid fa-road-lock fa-2x text-white"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Seguridad</h3>
                            <p class="text-muted">Mantenemos esta característica en cada paso del proceso con nuestros
                                colaboradores. Somos transparentes y honestos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!---->
</div>
<div class="somosDiv bg-light text-right">
    <div class="container">
        <h1 class="titleSomos  centerText">Servicios de excelencia</h1>
        <h3 class=" textSomos centerText">
            Comprendemos tus necesidades y nos ponemos en tu lugar, por ello, analizamos, planificamos y ejecutamos las
            mejores acciones para que el traslado de tu mercancía resulte seguro y exitoso.
        </h3>
    </div>
</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">
                    <h2 class="fw-bold mb-4 titlePorque">¿Por qué Global Moving Logistics?</h2>
                    <p class="text-muted mb-5"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Transportamos mercancía especializada</p>
                            <p class="text-muted mb-0">Sin excepción alguna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Personal calificado</p>
                            <p class="text-muted mb-0">Nuestro personal está comprometido a conocer las necesidades de
                                nuestros clientes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Atención personalizada</p>
                            <p class="text-muted mb-0">Para tu tranquilidad siempre cuentas con el apoyo de expertos en
                                el ámbito del transporte.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Certificaciones</p>
                            <p class="text-muted mb-0">Garantizamos la calidad de nuestros servicios y la eficiencia de
                                nuestros procesos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Calidad y seguridad</p>
                            <p class="text-muted mb-0">Recibimos capacitación especializada, lo que nos permite
                                garantizar los más altos estándares de calidad y seguridad en el manejo de sus
                                mercancías.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Monitoreo satelital y GPS</p>
                            <p class="text-muted mb-0">Contamos con la mejor tecnología para rastrear y monitorear
                                nuestras unidades, permitiendo optimizar tiempo y recursos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Seguro de mercancías</p>
                            <p class="text-muted mb-0">Aseguramos su carga a través de una aseguradora acreditada que
                                cubre los principales riesgos a los que están expuestos los contenedores, proporcionando
                                tranquilidad a los clientes y operadores.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Cumplimiento ante la ley</p>
                            <p class="text-muted mb-0">Cumplimos con todas las normativas necesarias para prestar
                                nuestros servicios. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!---->
</div>
<div class="somosDiv bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class=" textSomos">
                    Misión
                </h3>
                <hr>
                <h5>
                    Seguir creciendo y satisfaciendo las más altas expectativas de nuestros clientes, brindando un
                    servicio de calidad, eficiencia y seguridad a un precio razonable, es por ello que brindamos
                    soluciones de logística globales, buscar la mejora continua en todas nuestras operaciones y brindar
                    los rendimientos que esperan nuestros accionistas. <br><br>
                </h5>
            </div>
            <div class="col-md-6">
                <h3 class=" textSomos">
                    Visión
                </h3>
                <hr>
                <h5>
                    Ser el proveedor de servicios logísticos esenciales en toda la República Mexicana, tanto en política
                    de precios como en la calidad del servicio que brindamos fortaleciendo la posición competitiva del
                    sector camionero en México. <br><br>
                </h5>
            </div>
        </div>

    </div>
</div>
<div class="cargaBanner" id="servicios">

</div>
<div class="cargaTitles">
    <div class="container">
        <h1 class="my-5 display-3 fw-bold ls-tight cargaTitles2" style="color: black;"> <span>Nuestro servicio de carga
                terrestre</span> <br> <span style="color: hsl(218, 63%, 57%)">Transporte de carga regular & Transporte
                de carga especializada</span> </h1>

    </div> <br>
    <div class="container">
        <div class="row">
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5" data-v-271253ee="">
                    <section class="mb-10 text-center">
                        <div class="row gx-lg-5">
                            <div class="col-md-4 mb-5 mb-md-0">
                                <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                                    <i class="fa-solid fa-box fa-lg text-white"></i>
                                </div>
                                <h5 class="fw-bold mb-3">Contenedores</h5>
                            </div>
                            <div class="col-md-4 mb-5 mb-md-0">
                                <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                                    <i class="fa-solid fa-biohazard fa-lg text-white"></i>
                                </div>
                                <h5 class="fw-bold mb-3">Materiales y residuos peligrosos</h5>

                            </div>
                            <div class="col-md-4 mb-5 mb-md-0">
                                <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                                    <i class="fa-solid fa-car fa-lg text-white"></i>
                                </div>
                                <h5 class="fw-bold mb-3">Automotriz</h5>

                            </div>
                        </div>
                    </section>
                </section>
                <!---->
            </div>
        </div>
        <div class="row responsiveTitle">
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5" data-v-271253ee="">
                    <section class="mb-10 text-center">
                        <div class="row gx-lg-5">
                            <div class="col-md-4 mb-5 mb-md-0">
                                <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                                    <i class="fa-solid fa-snowflake fa-lg text-white"></i>

                                </div>
                                <h5 class="fw-bold mb-3">Refrigeración</h5>
                            </div>
                            <div class="col-md-4 mb-5 mb-md-0">
                                <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                                    <i class="fa-solid fa-apple-whole fa-lg text-white"></i>

                                </div>
                                <h5 class="fw-bold mb-3">Grado alimenticio</h5>

                            </div>
                            <div class="col-md-4 mb-5 mb-md-0">
                                <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                                    <i class="fa-solid fa-flask-vial fa-lg text-white"></i>

                                </div>
                                <h5 class="fw-bold mb-3">Petroquímicos</h5>

                            </div>
                        </div>
                    </section>
                </section>
                <!---->
            </div>
        </div>
    </div>
</div>
<div class="somosDiv bg-light text-right">
    <div class="container">
        <h1 class="titleSomos  centerText">Nuestra atención es personalizada</h1>
        <h3 class=" textSomos centerText">
            Brindamos soluciones integrales de logística con tecnología de última
            generación para agilizar el movimiento de carga, así como optimizar las cadenas de suministro y
            distribución. Maximizar los recursos y reducir los costos operativos del comercio son nuestro principal
            propósito.
        </h3>
    </div>
</div>
<div class="camionDiv">

</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">
                    <h2 class="fw-bold mb-4">Contamos con:</h2>
                    <p class="text-muted mb-5"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Tractocamión</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Camioneta</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Camión</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Plataforma</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Encortinado</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Contenedor ferroviario</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Madrina</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Caja refrigerada</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Autotanque de grado alimenticio</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg text-primary fa-fw"></i> </div>
                        <div class="flex-grow-1 ms-3">
                            <p class="fw-bold mb-1">Caja seca y autotanque para material y residuo peligroso</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!---->
</div>
<div id="contacto">
    <div data-draggable="true" style="position: relative;" class="bg-light">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0 overflowRes" data-v-271253ee="">
            <section class="mb-10 background-radial-gradient overflow-hidden">

                <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                    <div class="row gx-lg-5 align-items-center mb-5">
                        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                            <h1 class="my-5 display-3 fw-bold ls-tight"> Déjanos tus datos </h1>
                            <hr class="">
                            <h2 class=" fw-bold ls-tight ">Nuestro equipo <br> te contactará en breve</h2>

                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                            <div class="card ">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- 2 column grid layout with text inputs for the first and last names -->
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline"> <input type="text" id="form3Example1"
                                                        class="form-control formInput" name="name" required>
                                                    <label class="form-label" for="form3Example1"
                                                        style="margin-left: 0px;">Nombre</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 68.8px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline"> <input type="text" id="form3Example2"
                                                        class="form-control formInput" name="secondname" required>
                                                    <label class="form-label" for="form3Example2"
                                                        style="margin-left: 0px;">Apellidos</label>
                                                    <div class="form-notch">
                                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                                        <div class="form-notch-middle" style="width: 68px;"></div>
                                                        <div class="form-notch-trailing"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="email" id="form3Example3"
                                                class="form-control formInput" name="email" required>
                                            <label class="form-label" for="form3Example3"
                                                style="margin-left: 0px;">Correo electrónico</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div><!-- Phone input -->
                                        <div class="form-outline mb-4">
                                            <textarea class="form-control formInput" id="form4Example3" rows="1"
                                                name="number" required></textarea>
                                            <label class="form-label" for="form4Example3">Número</label>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4">
                                            <textarea class="form-control formInput" id="form4Example3" name="message"
                                                rows="4"></textarea>
                                            <label class="form-label" for="form4Example3">Mensaje (opcional)</label>
                                        </div> <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4"> <input
                                                class="form-check-input me-2" type="checkbox" value=""
                                                id="form2Example33" checked="" required> <label class="form-check-label"
                                                for="form2Example33">Acepto <span class="text-warning"><u>política de
                                                        privacidad</u></span></label> </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  btn-dark btn-block mb-4">Enviar</button>
                                        <!-- Register buttons -->
                                        <p><i class="fa-solid fa-phone"></i> 5556988900</p>
                                        <p><i class="fa-solid fa-envelopes-bulk"></i>
                                            atnclientes@global-moving.com</p>
                                        <img src="assets/images/logoGlobalColor.png" class="img-fluid imageColorLogo"
                                            alt="Wild Landscape" />

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>