<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navBar fixed-top" id="navBars">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->



                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class=" nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="inicioDiv container-flex">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video1">
            <source src="/assets/images/globalVideo3.mp4" type="video/mp4">
        </video>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video2">
            <source src="/assets/images/globalVideo2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="fixed-action-btn" id="fixed1">
        <a class="btn btn-primary btn-floating btn-lg" href="#contacto"
            style="background-color: #4caf50; color: white;">
            <i class="fas fa-envelope"></i>
        </a>
        <ul class="list-unstyled">

        </ul>
    </div>
    <div class="bgSlogan">
        <div class="container">
            <br>
            <h2 class="text-black text-center">Soluciones Logísticas para tí y tu negocio.</h2>
        </div>
    </div>
</div>


<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">

            <div class="row gx-lg-5 mb-5 align-items-center">
                <div class="col-md-6 mb-4 mb-md-0"> <img src="assets/images/logisticsContainers.jpg"
                        class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                <div class="col-md-6 mb-4 mb-md-0">
                    <h3 class="fw-bold">¿Quiénes somos?</h3>

                    <p class="">Somos una empresa 100% mexicana líder en la prestación de servicios
                        logísticos. </p>
                    <p class="">Brindamos soluciones integrales de logística para tu negocio basándonos en
                        modelos innovadores para cumplir con las necesidades de las distintas industrias en los envíos
                        de paquetería, distribución, almacenaje y mensajería con cobertura nacional e internacional.</p>
                    <p>Usamos tecnología avanzada para que los envíos se reciban en tiempo y en perfectas condiciones a
                        nuestros clientes. Llegamos a cualquier destino nacional con la confianza de que los productos
                        estarán en buenas manos.</p>
                    <p>
                        Tenemos clientes de distintas industrias con una amplia variedad de productos en todo el país,
                        esto nos ha llevado a tener una amplia experiencia en este rubro. Nos encargamos de la
                        logística:
                    </p>

                </div>
            </div>
            <div class="container text-center">
                <div class="row mb-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative"> <i
                            class="fas fa-globe-americas fa-3x text-primary mb-4" aria-controls="#picker-editor"></i>
                        <h6 class="fw-normal mb-0">Recepción y registro de productos</h6>

                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative"> <i
                            class="fas fa-map-marker-alt fa-3x text-primary mb-4" aria-controls="#picker-editor"></i>
                        <h6 class="fw-normal mb-0">Almacenaje de inventario en almacenes estándar y fiscalizados</h6>

                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative"> <i
                            class="fas fa-solid fa-truck-fast fa-3x text-primary mb-4"
                            aria-controls="#picker-editor"></i>
                        <h6 class="fw-normal mb-0">Envío y entrega de productos en todas las modalidades</h6>

                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative"> <i
                            class="fas fa-solid fa-user-group fa-3x text-primary mb-4"
                            aria-controls="#picker-editor"></i>
                        <h6 class="fw-normal mb-0">Transporte de pasajeros</h6>

                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/paquetes.jpg"
                        class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor"> </div>
                <div class="col-md-6 mb-4 mb-md-0">
                    <h3 class="fw-bold">Misión</h3>

                    <p class="text-muted">Generar un impacto positivo en la vida de nuestros clientes y equipo de
                        trabajo. Para nosotros el capital humano es lo más importante, es por eso que la motivación y el
                        compromiso hacia nuestro equipo, promueve un servicio de excelencia a nuestros clientes.</p>

                    <h3 class="fw-bold">Valores</h3>

                    <ul>
                        <li>Innovación</li>
                        <li>Servicio</li>
                        <li>Confianza</li>
                        <li>Puntualidad</li>
                        <li>Integridad</li>
                    </ul>
                </div>
            </div>


        </section>
    </section>
    <!---->
</div>
<div class="cargaBanner" id="servicios">

</div>

<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center">
            <h2 class="fw-bold mb-9 text-center">Nuestros expertos evalúan:</h2>

            <div class="row gx-lg-5">
                <div class="col-lg-3 col-md-12 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block">
                                <i class="fa-solid fa-location-dot fa-2x text-white" aria-controls="#picker-editor"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Selección del sitio</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fas fa-chart-pie fa-2x text-white" aria-controls="#picker-editor"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Almacenamiento</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fa-solid fa-route fa-2x text-white"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Enrutamiento</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fa-solid fa-sharp fa-money-check-dollar fa-2x text-white"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3">Costos de inventario y transporte</h3>

                        </div>
                    </div>
                </div>
            </div> <br> <br>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="container pt-5" data-v-271253ee="">
                    <section class="">

                        <div class="row gx-lg-5 mb-5 align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="assets/images/carrito.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Somos expertos</h3>

                                <p class="text-justify">Establecemos estrategias para tomar las mejores decisiones
                                    respecto al
                                    diseño,
                                    implementación y seguimiento de las soluciones de logística. Asesoramos a nuestros
                                    clientes para
                                    ahorrar
                                    tiempo y dinero en toda la cadena de suministro y cumplir con los requisitos
                                    normativos y así
                                    evitar
                                    aumentar los costos en su red. </p>
                                <p class="text-justify"> Gestionamos el almacenamiento, carga, distribución y
                                    transportación de la
                                    mercancía hasta su
                                    entrega.
                                    Damos seguimiento a todo el proceso y hacemos la gestión de los requerimientos
                                    fronterizos
                                    manteniendo
                                    un contacto estrecho con nuestros proveedores y almacenes.</p>
                                <p class="text-justify"> Gestionamos el transporte de su personal cuando es necesario el
                                    traslado urgente por
                                    vía aérea.
                                    Garantizamos que cada eslabón de su cadena de suministro sea confiable.</p>


                            </div>
                        </div>
                        <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/almacenamiento.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Almacenamiento</h3>

                                <p class=" text-justify">Contamos con tecnología avanzada para mantener el
                                    control y
                                    seguridad de tus inventarios desde su recepción hasta la entrega, a través del uso
                                    de software y bases de datos especializadas. <br> <br>
                                    En nuestros almacenes contamos con un sistema de monitoreo, seguridad y vigilancia
                                    las 24 horas cubriendo tanto el interior como el exterior.
                                    El diseño de tu operación lo hacemos considerando los equipos y sistemas mas
                                    modernos y eficientes con el fin tener la máxima productividad posible, reduciendo
                                    los costos totales al cliente final. <br> <br>
                                    Nuestros almacenes se operan bajo los mas altos estándares de seguridad ocupacional,
                                    ecología e higiene.
                                </p>


                            </div>
                        </div>
                        <div class="row gx-lg-5 mb-5 align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="assets/images/fullfilment.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Fulfillment</h3>

                                <p class="text-justify">A través de nuestros servicios de fulfillment, almacenamos,
                                    empacamos y enviamos tus pedidos con la mayor productividad haciendo exitoso tu
                                    e-commerce. <br> <br>
                                    Buscamos satisfacer las necesidades y expectativas de nuestros clientes antes,
                                    durante y después de otorgar los servicios, enfocandonos en la satisfacción del
                                    cliente final, haciendo exitosas las operaciones de nuestros clientes.
                                    El despacho, envío y entrega de sus productos en las condiciones ofrecidas y en los
                                    tiempos de entrega establecidos es nuestro principal objetivo. <br> <br>
                                    Nuestra plataforma cuenta con distintos medios de pago con el fin de facilitar el
                                    proceso de solicitud de servicios de manera fácil, rápida y segura. <br> <br>
                                    Contamos con el servicio de empaque de tus productos y te garantizamos que estos
                                    llegaran a su destino final sin retrasos. Puedes dar seguimiento de tus envíos a
                                    través de nuestras plataformas de rastreo de paquetes. <br> <br>
                                    Hacemos envíos nacionales a las principales ciudades de la Republica Mexicana como
                                    son Ciudad de México, Guadalajara, Monterrey, Puebla, Tijuana, Cancún, León,
                                    Acapulco, Veracruz, Mérida, Morelos, Chihuahua, León.
                                </p>



                            </div>
                        </div>
                        <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/distribucion.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Distribución y transporte</h3>

                                <p class=" text-justify">Nosotros tenemos los conocimientos, estrategias y
                                    habilidades para dar servicio de cualquier tipo de envío, traslado y entrega de
                                    productos para que tú y tu negocio alcancen sus objetivos. Gestionamos toda la
                                    cadena de suministros a nivel local y nacional e internacional, incluyendo los
                                    servicios de terceros y proveedores. Para la gestión del transporte contamos con:
                                    <br>
                                <ul>
                                    <li class="text-justify">Proveedores</li>
                                    <li class="text-justify">Tecnología</li>
                                    <li class="text-justify">Planificación y ejecución de envíos y pedidos</li>
                                    <li class="text-justify">Gestión de licitaciones de carga diarias</li>
                                    <li class="text-justify">Adquisición y gestión de transportistas</li>
                                    <li class="text-justify">Integración de flotas</li>
                                    <li class="text-justify">Auditoría y pago de facturas de flete</li>
                                    <li class="text-justify">Gestión de reclamaciones</li>
                                </ul>
                                </p>
                                <p class=" text-justify">
                                    Nuestros sistemas nos permiten realizar el seguimiento de su carga mediante la
                                    captura de datos GPS sobre las cargas de los transportistas, lo cual permite que
                                    nuestro equipo encuentra cualquier transportista en cualquier momento y conozca
                                    exactamente la ubicación de todos los productos.
                                </p>
                                <p class=" text-justify">
                                    La entrega de los productos en el tiempo acordado es muy importante en nuestro
                                    negocio. Cumplir con los requisitos de puntualidad de manera consistente lo logramos
                                    optimizando las rutas aéreas, marítimas y terrestres.
                                </p>


                            </div>
                        </div>
                        <div class="row gx-lg-5 mb-5 align-items-center">
                            <div class="col-md-6 mb-4 mb-md-0"> <img src="assets/images/avion.jpg"
                                    class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h3 class="fw-bold">Paquetería y transporte de pasajeros urgente</h3>

                                <p class="text-justify">Requieres mover tu carga urgente y no puedes esperar el tiempo
                                    de traslado, nosotros podemos hacer envíos aéreos a traves e nuestros convenios con
                                    aerolineas o a traves de nuestra flota de aeronaves regionales. </p>
                                <p class="text-justify"> Tienes una urgencia y los vuelos comerciales están saturados,
                                    tenemos la solución de taxi aéreo que soluciona tu movimiento de pasajeros en el dia
                                    y el horario que mejor te acomode.</p>



                            </div>
                        </div>


                    </section>
                </section>
                <!---->
            </div>

        </section>
    </section>
    <!---->
</div>

<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center mb-10">
                <div class="text-center" style="">
                    <h2 class="fw-bold mb-4 titlePorque">Nuestros servicios de Valor agregado</h2>
                    <hr>
                    <h4 class="text-justify">Contamos con un sistema de rastreo satelital que nos permite llevar el
                        control, seguimiento y ubicación de toda la mercancía. Con este sistema tenemos la ventaja de
                        conocer:</h4>
                </div>

            </div>
            <div class="row gx-lg-5">
                <div class="col-lg-4 col-md-12 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block">
                                <i class="fa-solid fa-road fa-2x text-white" aria-controls="#picker-editor"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3 text-center">Planear las rutas entrega y embarque</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fas fa-solid fa-boxes-packing fa-2x text-white"
                                    aria-controls="#picker-editor"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3 text-center">Rastrear los paquetes desde el almacén
                                hasta su llegada al destino final</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-8 mb-lg-0">
                    <div class="card shadow-2-strong h-100">
                        <div class="d-flex justify-content-center" style="margin-top: -43px">
                            <div class="p-4 bg-primary rounded-circle shadow-5-strong d-inline-block"> <i
                                    class="fa-solid fa-sheet-plastic fa-2x text-white"></i> </div>
                        </div>
                        <div class="card-body">
                            <h3 class="fw-bold text-primary mb-3 text-center">Reportar el estatus de la ubicación de la
                                mercancía</h3>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
    <!---->
</div>
<div class="noticiasDiv mb-10">
    <div class="container">
        <h4>Noticias</h4>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/images/noticia1.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title"> La economía de México crecerá 3.3% este año, prevé Moody's</h5>
                        <hr>
                        <p class="card-text">La calificadora de riesgo destacó que ante el buen dinamismo de la
                            economía, el PIB de México...</p>
                        <a href="https://expansion.mx/economia/2023/09/01/moodys-mejora-pronosticos-pib-mexico"
                            class="btn rojoBg text-black" target="_blank">Ver noticia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/images/peso.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title">Banxico mejora sus previsiones para la economía mexicana en 2023 y 2024
                        </h5>
                        <hr>
                        <p class="card-text">Banxico revisa al alza sus pronósticos para el PIB debido a la resiliencia
                            observada en la economía mexicana...</p>
                        <a href="https://www.forbes.com.mx/banxico-mejora-sus-previsiones-para-la-economia-mexicana-en-2023-y-2024/"
                            class="btn rojoBg text-black" target="_blank">Ver noticia</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/images/entreg.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title">¿Buscas ingresos extra para tu pyme? Recibe paquetes de e-commerce</h5>
                        <hr>
                        <p class="card-text">Los consumidores han optado por recoger las compras que realizan en línea
                            en puntos cerca de la casa o el trabajo...</p>
                        <a href="https://www.eleconomista.com.mx/tags/paqueteria" class="btn rojoBg text-black"
                            target="_blank">Ver noticia</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="contacto" class="contactoDiv">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
                <style>
                    hr.divider-vertical {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                        background-color: transparent;
                        height: 100%;
                    }
                </style>
                <div class="card mx-4 mx-md-5 shadow-5-strong"
                    style=" margin-top: -100px; background: white; backdrop-filter: blur(30px); ">

                    <div class="card-body py-5 px-md-5">
                        <div class="row text-center">
                            <h3>Contáctanos</h3>
                            <hr>
                            <h5>Soluciones Logísticas para tí y tu negocio</h5>
                            <br> <br>
                        </div>

                        <div class="row d-flex justify-content-center topMargin18">
                            <div class="col-lg-6">
                                <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                    <!-- Name input -->
                                    <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                            class="form-control formInput" name="name" required> <label
                                            class="form-label" for="form4Example1"
                                            style="margin-left: 0px;">Nombre</label>
                                        <div class="form-notch">
                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                            <div class="form-notch-middle" style="width: 42.4px;"></div>
                                            <div class="form-notch-trailing"></div>
                                        </div>
                                    </div> <!-- Email input -->
                                    <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                            class="form-control formInput" name="email" required>
                                        <label class="form-label" for="form4Example2" style="margin-left: 0px;">Correo
                                            electrónico</label>
                                        <div class="form-notch">
                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                            <div class="form-notch-middle" style="width: 88.8px;"></div>
                                            <div class="form-notch-trailing"></div>
                                        </div>
                                    </div> <!-- Message input -->
                                    <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                            id="form4Example3" rows="4" name="message" required></textarea> <label
                                            class="form-label" for="form4Example3"
                                            style="margin-left: 0px;">Mensaje</label>
                                        <div class="form-notch">
                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                            <div class="form-notch-middle" style="width: 60px;"></div>
                                            <div class="form-notch-trailing"></div>
                                        </div>
                                    </div>
                                    <!-- Checkbox -->
                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                            id="form2Example33" required />
                                        <label class="form-check-label" for="form2Example33">
                                            Acepto política de privacidad
                                        </label>
                                    </div>
                                    <!-- Submit button -->
                                    <button type="submit" class="btn  bgRedRuta btn-block"
                                        aria-controls="#picker-editor">Enviar</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>